<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="DefaultEndpoint">
                    <security mode="None"/>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8009/PortTesterService/" binding="netTcpBinding" bindingConfiguration="DefaultEndpoint" contract="PortTesterServiceProxy.IPortTesterService" name="DefaultEndpoint"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
